#book{
    border: 5px solid red;
    height: 300px;
    width: 300px;
    background-color: coral;
}

#book img {
  width: 300px;   
  height: 200px;  
  border-radius: 10px;
  object-fit: cover;
  display: flex;
}