/* #card{
    border:2px solid chocolate;
    height:100px;
    width:130px;
    text-align: center;
} */

#card {
  border: 2px solid chocolate;
  height: 200px;
  width: 200px;
  text-align: center;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
